body {
  margin: 0;
  min-height: 100%;
  max-width: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color: #101010;
  color: #C8C8C8;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWindow {
  flex: 1;
  display: flex;
  min-height: 100%;
}

nav {
  z-index: 1;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #202020;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #202020;
  color: #C8C8C8;
  text-align: center;
  margin: 0;
}

.footer p {
  margin: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 5px;
  border: 1px solid black;
}

.cart {
  margin: 0 0 0 auto;
}

li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #C8C8C8;
  text-decoration: none;
}

li:hover {
  background-color: #101010;
  cursor: pointer;
}