.productDetailsModal {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.productDetailsModalContent {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 600px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 30px;
}

.productDetailsModalContent img {
  width: 100%;
  border-radius: 10px;
}

.productDetailsModalForehead {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.productDetailsModalForehead .productDetailsModalCloseButton {
  margin-left: 5px;
  background-color: #202020;
}

.productDetailsModalForehead h3 {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.productDetailsModalProductDescription {
  background-color: #202020;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.productDetailsModalPriceAndCart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}